# Example 1.1.8 (1) (computation in fields)
> Example from Singular introduction to commutative algebra

- toc: true 
- badges: true
- comments: true
- categories: [jupyter, singular]
- image: images/chart-preview.png

In [ ]:
ring A=0,x,dp;

In [ ]:
number n=12345/6789;

In [ ]:
n^5;

1179910858126071875/59350279669807543